.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: tomato;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.compose-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.header-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  padding: 8px;
  min-height: 100px;
}

.messages-container {
  overflow-y: scroll;
  height: auto;
  max-height: calc(100vh - 48px);
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.page {
  position: relative;
}

.page-enter {
  opacity: 0;
  transform: scale(0.95);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}

.progres-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

:root {
  /*colors*/
  --background_color: rgb(255, 255, 255);
  --primary_color: rgb(0, 153, 255);
  --text_primary: rgb(255, 255, 255);
  --secondary_color: rgb(255, 230, 0);
  --text_secondary: rgb(14, 190, 243);
  --accent_color: rgb(0, 120, 255);
  --surface_color: rgb(255, 255, 255);
  --error_color: rgb(14, 190, 243);
  --textbox: rgb(214, 214, 214);
  --textbox_text: rgb(78, 78, 78);
  --send_bubble_color: #00b2ff;
  --send_text_color: rgb(255, 255, 255);
  --receive_bubble_color: rgb(214, 214, 214);
  --receive_text_color: rgb(78, 78, 78);
  /*sizes*/
  --bar_height: 50px;
  --conversation_font_size: 14px;
}

.send-bubble {
  padding: 14px;
  margin: 10px;
  border-radius: 25px;
  position: relative;
  box-sizing: border-box;
  max-width: 90%;
  display: block;
  float: right;
  background-color: var(--send_bubble_color);
  color: var(--send_text_color);
}

.receive-bubble {
  padding: 14px;
  margin: 10px;
  border-radius: 25px;
  position: relative;
  box-sizing: border-box;
  max-width: 90%;
  display: block;
  float: left;
  background-color: var(--receive_bubble_color);
  color: var(--receive_text_color);
}

.bubblewrap {
  display: block;
  float: right;
  width: 100%;
}
