:root {
  /*colors*/
  --background_color: #212121;
  --foreground_element_color: rgb(60, 64, 67);
  --secondary_text_color: rgb(112, 112, 112);
  --background_alpha: 24, 24, 24;
  --split_button_background_color: rgb(0, 140, 201);
  --primary_color: rgb(0, 140, 201);
  --text_primary: rgb(240, 240, 240);
  --send_bubble_color: #00b2ff;
  --sender_bubble_gradient: linear-gradient(
    to bottom,
    rgb(0, 140, 201) 15%,
    rgb(0, 75, 107) 90%
  );
  --send_text_color: rgb(255, 255, 255);
  --receive_bubble_color: #404040;
  --loader_color: #404040;
  --receive_text_color: rgb(240, 240, 240);
  --alert_color: rgb(255, 0, 102);
  /*sizes*/
  --conversation_font_size: 13px;
  --conversation_font_weight: 600;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
  background-color: var(--background_color);
  font-family: "DM Sans", sans-serif;
}

.messages-container {
  background-color: var(--background_color);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--background_color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: tomato;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.appname {
  color: var(--primary_color);
  font-weight: 800;
  font-size: 36px;
  margin: 10px 0px;
}

.theme-select-text {
  color: var(--text_primary);
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  margin-top: 24px;
}

.page-title {
  margin-top: 16px;
  font-size: large;
  font-weight: 700;
}

.MuiListItemText-secondary {
  color: var(--secondary_text_color) !important;
}

/* Chat Screen divisions */
.header-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  background: linear-gradient(
    180deg,
    var(--background_color) 85%,
    rgba(var(--background_alpha), 0) 100%
  );
  height: auto;
  padding: 12px 0px 28px;
}

.receiver-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: baseline; */
  width: 100%;
  color: var(--primary_color) !important;
}

.back-button {
  margin-left: 12px !important;
}

.receiver-name {
  margin-top: 16px;
  font-size: large;
  font-weight: 700;
}

.splits {
  display: flex;
  /* width: 100%; */
  overflow: scroll;
  padding: 8px 32px 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.splits::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.splits {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.activeSplit,
.inactiveSplit {
  padding: 6px 16px;
  border-radius: 25px;
  margin-right: 10px;
  white-space: nowrap;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* .activeSplit:hover,
.inactiveSplit:hover {
  color: var(--text_primary);
  background-color: var(--text_primary);
  color: var(--background_color);
  transition: all 0.3s ease-in-out;
} */

.activeSplit {
  color: var(--text_primary);
  background-color: var(--split_button_background_color);
  transition: all 0.3s ease-in-out;
}

.inactiveSplit {
  color: var(--primary_color);
}

.ndot {
  display: inline-block;
  position: absolute;
  content: " ";
  height: 5px;
  width: 5px;
  background-color: var(--alert_color);
  border-radius: 100%;
  margin-left: 5px;
  margin-bottom: 18px;
}

.more-messages-circle {
  background-color: var(--background_color);
  padding: 6px;
  border-radius: 100%;
  position: fixed;
  height: 28px;
  width: 28px;
  top: calc(15% + 18px);
  left: calc(50% - 12px);
  z-index: 5;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.3s; /* Firefox < 16 */
  -ms-animation: fadein 0.3s; /* Internet Explorer */
  -o-animation: fadein 0.3s; /* Opera < 12.1 */
  animation: fadein 0.3s;
  transition: all ease-in 300ms;
}

.compose-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0) !important;
}

.send-button {
  font-size: small;
  color: var(--primary_color);
  font-weight: 600;
}

.messages-container {
  height: calc(100% - 58px);
  width: 100%;
  display: block;
  overscroll-behavior: contain;
  overflow-y: scroll;
}

.message-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 10px;
  margin-top: -10px;
}

.scrolled {
  background: linear-gradient(
    0deg,
    var(--background_color) 20%,
    rgba(var(--background_alpha), 0) 75%
  );
}
/* End of Chat Screen divisions */

/* Main Container */
.page-container {
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 100%;
  display: block;
  overscroll-behavior: contain;
  overflow: hidden;
}

/* Router Transitions */
.page-enter {
  opacity: 0;
  transform: scale(0.98);
}

.page-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 300ms, transform 300ms;
}

.progres-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* End of Router Transitions */

/* Message Bubbles */
.send-bubble {
  padding: 12px;
  margin: 6px;
  margin-right: 14px;
  border-radius: 25px;
  position: relative;
  box-sizing: border-box;
  max-width: 350px;
  display: block;
  float: right;
  background-color: var(--send_bubble_color);
  color: var(--send_text_color);
  font-size: var(--conversation_font_size);
  font-weight: var(--conversation_font_weight);
}

.receive-bubble {
  padding: 12px;
  margin: 6px;
  margin-left: 14px;
  border-radius: 25px;
  position: relative;
  box-sizing: border-box;
  max-width: 350px;
  display: block;
  float: left;
  background-color: var(--receive_bubble_color);
  color: var(--receive_text_color);
  font-size: var(--conversation_font_size);
  font-weight: var(--conversation_font_weight);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.receive-bubble > p,
.send-bubble > p {
  font-size: var(--conversation_font_size);
  word-break: break-word;
}

.bubblewrap {
  display: block;
  float: right;
  width: 100%;
}

.send-bubble {
  color: white;
  margin-left: 25%;
  background: var(--sender_bubble_gradient);
  background-attachment: fixed;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bubble-dim {
  opacity: 0.5;
}

.first-message {
  margin-top: 50vh;
}

/* End of Message Bubbles */

.MuiToggleButton-root {
  border: none !important;
  background-color: var(--primary_color) !important;
  border-radius: 25px !important;
  padding: 6px !important;
  padding-right: 12px !important;
  font-size: var(--conversation_font_size) !important;
  margin-right: 8px !important;
  text-transform: unset !important;
}

/* Animations */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* End of Animations */

.spotify-player {
  margin-top: 24px;
  width: 100%;
  display: flex;
}

.typing-container {
  display: inline-block;
  margin-left: 12px;
  position: relative;
  top: -11px;
}

.tiblock {
  align-items: center;
  display: flex;
  height: 17px;
}

.tidot {
  animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 2px;
  display: inline-block;
  height: 4px;
  margin-right: 2px;
  width: 4px;
  background-color: var(--text_primary);
}

@keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
  }
  28% {
    -webkit-transform: translateY(-5px);
  }
  44% {
    -webkit-transform: translateY(0px);
  }
}

.tidot:nth-child(1) {
  animation-delay: 200ms;
}
.tidot:nth-child(2) {
  animation-delay: 300ms;
}
.tidot:nth-child(3) {
  animation-delay: 400ms;
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
